@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticonde42.ttf?9a946aa9a6ecaf06f88979fb962df493") format("truetype"),
    url("../fonts/flaticonde42.woff?9a946aa9a6ecaf06f88979fb962df493") format("woff"),
    url("../fonts/flaticonde42.woff2?9a946aa9a6ecaf06f88979fb962df493") format("woff2"),
    url("../fonts/flaticonde42.eot?9a946aa9a6ecaf06f88979fb962df493#iefix") format("embedded-opentype"),
    url("../fonts/flaticonde42.svg?9a946aa9a6ecaf06f88979fb962df493#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-call:before {
    content: "\f101";
}
.flaticon-nutrition:before {
    content: "\f102";
}
.flaticon-nutrition-2:before {
    content: "\f103";
}
.flaticon-salad:before {
    content: "\f104";
}
.flaticon-cereal:before {
    content: "\f105";
}
.flaticon-fish-and-chips:before {
    content: "\f106";
}
.flaticon-wasabi:before {
    content: "\f107";
}
.flaticon-soy-milk:before {
    content: "\f108";
}
.flaticon-cereal-1:before {
    content: "\f109";
}
.flaticon-cereal-2:before {
    content: "\f10a";
}
.flaticon-dairy-products:before {
    content: "\f10b";
}
.flaticon-fast-food:before {
    content: "\f10c";
}
.flaticon-hot-drink:before {
    content: "\f10d";
}
.flaticon-italian-food:before {
    content: "\f10e";
}
.flaticon-energy-bar:before {
    content: "\f10f";
}
.flaticon-outgoing-call:before {
    content: "\f110";
}
.flaticon-location:before {
    content: "\f111";
}
.flaticon-world:before {
    content: "\f112";
}
.flaticon-phone-call-1:before {
    content: "\f113";
}
.flaticon-calendar:before {
    content: "\f114";
}
.flaticon-mobile-phone:before {
    content: "\f115";
}
.flaticon-play-button:before {
    content: "\f116";
}
.flaticon-play:before {
    content: "\f117";
}
.flaticon-left-quote:before {
    content: "\f118";
}
